body{
  margin:0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
h1 {
  margin: 0px;
  text-align: center;
}

.scoreBoard{
  display: flex;
  width: 8%;
  margin: 0 auto;
  border: 1px solid gray;
  flex-flow: row;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#gameOver{
  display: none;
  position: absolute;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 4rem;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.9);
}

#gameOver>div{
  font-size: 2rem;
  padding: 2.5rem;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background: black;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: lightgreen;
  border-radius: 5px;
}

.ghost {
  background-color: gray;
}
.food {
  background: red;
  border-radius: 10px ;
}