body{
  margin:0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
h1 {
  margin: 0px;
  text-align: center;
}

.scoreBoard{
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-flow: row;
  flex-wrap: wrap;
}

#gameOver{
  display: none;
  position: absolute;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 4rem;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.9);
}
#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 5px;
}

.ghost {
  background-color: gray;
}
.food {
  background: red;
  border-radius: 10px ;
}